<?php
/**
 * AccountMessagesApi
 * PHP version 5
 *
 * @category Class
 * @package  RevampCRM\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * RevampCRM Developer API
 *
 * You can use this API to access Account related info and contacts. We currently support Basic Authentication. Using 'Username' and either 'Password' Or 'API Key' as the password
 *
 * OpenAPI spec version: v1
 * Contact: crm@revampco.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace RevampCRM\API;

use \RevampCRM\Client\Configuration;
use \RevampCRM\Client\ApiClient;
use \RevampCRM\Client\ApiException;
use \RevampCRM\Client\ObjectSerializer;

/**
 * AccountMessagesApi Class Doc Comment
 *
 * @category Class
 * @package  RevampCRM\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class AccountMessagesApi
{

    /**
     * API Client
     *
     * @var \RevampCRM\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \RevampCRM\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\RevampCRM\Client\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://app.revampcrm.com:443');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \RevampCRM\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \RevampCRM\Client\ApiClient $apiClient set the API client
     *
     * @return AccountMessagesApi
     */
    public function setApiClient(\RevampCRM\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation dashboardAccountMessages
     *
     * 
     *
     * @param int $page_size  (required)
     * @param int $page_index  (required)
     * @param \DateTime $filter_date  (required)
     * @param string $types  (required)
     * @return \RevampCRM\Models\AccountMessageListViewModel
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function dashboardAccountMessages($page_size, $page_index, $filter_date, $types)
    {
        list($response) = $this->dashboardAccountMessagesWithHttpInfo($page_size, $page_index, $filter_date, $types);
        return $response;
    }

    /**
     * Operation dashboardAccountMessagesWithHttpInfo
     *
     * 
     *
     * @param int $page_size  (required)
     * @param int $page_index  (required)
     * @param \DateTime $filter_date  (required)
     * @param string $types  (required)
     * @return Array of \RevampCRM\Models\AccountMessageListViewModel, HTTP status code, HTTP response headers (array of strings)
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function dashboardAccountMessagesWithHttpInfo($page_size, $page_index, $filter_date, $types)
    {
        // verify the required parameter 'page_size' is set
        if ($page_size === null) {
            throw new \InvalidArgumentException('Missing the required parameter $page_size when calling dashboardAccountMessages');
        }
        // verify the required parameter 'page_index' is set
        if ($page_index === null) {
            throw new \InvalidArgumentException('Missing the required parameter $page_index when calling dashboardAccountMessages');
        }
        // verify the required parameter 'filter_date' is set
        if ($filter_date === null) {
            throw new \InvalidArgumentException('Missing the required parameter $filter_date when calling dashboardAccountMessages');
        }
        // verify the required parameter 'types' is set
        if ($types === null) {
            throw new \InvalidArgumentException('Missing the required parameter $types when calling dashboardAccountMessages');
        }
        // parse inputs
        $resourcePath = "/api/1.0/AccountMessages/{pageSize}/{pageIndex}/{filterDate}/{types}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json', 'application/xml', 'text/xml', 'text/html', 'application/xhtml', 'application/xhtml+xml', 'text/csv', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($page_size !== null) {
            $resourcePath = str_replace(
                "{" . "pageSize" . "}",
                $this->apiClient->getSerializer()->toPathValue($page_size),
                $resourcePath
            );
        }
        // path params
        if ($page_index !== null) {
            $resourcePath = str_replace(
                "{" . "pageIndex" . "}",
                $this->apiClient->getSerializer()->toPathValue($page_index),
                $resourcePath
            );
        }
        // path params
        if ($filter_date !== null) {
            $resourcePath = str_replace(
                "{" . "filterDate" . "}",
                $this->apiClient->getSerializer()->toPathValue($filter_date),
                $resourcePath
            );
        }
        // path params
        if ($types !== null) {
            $resourcePath = str_replace(
                "{" . "types" . "}",
                $this->apiClient->getSerializer()->toPathValue($types),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\RevampCRM\Models\AccountMessageListViewModel',
                '/api/1.0/AccountMessages/{pageSize}/{pageIndex}/{filterDate}/{types}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\RevampCRM\Models\AccountMessageListViewModel', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\RevampCRM\Models\AccountMessageListViewModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation dashboardGetCount
     *
     * 
     *
     * @return int
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function dashboardGetCount()
    {
        list($response) = $this->dashboardGetCountWithHttpInfo();
        return $response;
    }

    /**
     * Operation dashboardGetCountWithHttpInfo
     *
     * 
     *
     * @return Array of int, HTTP status code, HTTP response headers (array of strings)
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function dashboardGetCountWithHttpInfo()
    {
        // parse inputs
        $resourcePath = "/api/1.0/AccountMessages/CountOfNew";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json', 'application/xml', 'text/xml', 'text/html', 'application/xhtml', 'application/xhtml+xml', 'text/csv', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                'int',
                '/api/1.0/AccountMessages/CountOfNew'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, 'int', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'int', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation dashboardMarkAsSeen
     *
     * Marks Specified message as seen
     *
     * @param string $account_message_id  (required)
     * @return bool
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function dashboardMarkAsSeen($account_message_id)
    {
        list($response) = $this->dashboardMarkAsSeenWithHttpInfo($account_message_id);
        return $response;
    }

    /**
     * Operation dashboardMarkAsSeenWithHttpInfo
     *
     * Marks Specified message as seen
     *
     * @param string $account_message_id  (required)
     * @return Array of bool, HTTP status code, HTTP response headers (array of strings)
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function dashboardMarkAsSeenWithHttpInfo($account_message_id)
    {
        // verify the required parameter 'account_message_id' is set
        if ($account_message_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $account_message_id when calling dashboardMarkAsSeen');
        }
        // parse inputs
        $resourcePath = "/api/1.0/AccountMessages/MarkAsSeen/{accountMessageId}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json', 'application/xml', 'text/xml', 'text/html', 'application/xhtml', 'application/xhtml+xml', 'text/csv', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($account_message_id !== null) {
            $resourcePath = str_replace(
                "{" . "accountMessageId" . "}",
                $this->apiClient->getSerializer()->toPathValue($account_message_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                'bool',
                '/api/1.0/AccountMessages/MarkAsSeen/{accountMessageId}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, 'bool', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), 'bool', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
