<?php
/**
 * EcommerceCategoriesApi
 * PHP version 5
 *
 * @category Class
 * @package  RevampCRM\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * RevampCRM Developer API
 *
 * You can use this API to access Account related info and contacts. We currently support Basic Authentication. Using 'Username' and either 'Password' Or 'API Key' as the password
 *
 * OpenAPI spec version: v1
 * Contact: crm@revampco.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace RevampCRM\API;

use \RevampCRM\Client\Configuration;
use \RevampCRM\Client\ApiClient;
use \RevampCRM\Client\ApiException;
use \RevampCRM\Client\ObjectSerializer;

/**
 * EcommerceCategoriesApi Class Doc Comment
 *
 * @category Class
 * @package  RevampCRM\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class EcommerceCategoriesApi
{

    /**
     * API Client
     *
     * @var \RevampCRM\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \RevampCRM\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\RevampCRM\Client\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://app.revampcrm.com:443');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \RevampCRM\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \RevampCRM\Client\ApiClient $apiClient set the API client
     *
     * @return EcommerceCategoriesApi
     */
    public function setApiClient(\RevampCRM\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation eCommerceCategoryDelete
     *
     * Delete a Category.
     *
     * @param string $provider Store Provider (e.g. Shopify ) (required)
     * @param string $store Store name (required)
     * @param string $id Category ID to delete (required)
     * @return \RevampCRM\Models\EcommerceCategoryResponse
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function eCommerceCategoryDelete($provider, $store, $id)
    {
        list($response) = $this->eCommerceCategoryDeleteWithHttpInfo($provider, $store, $id);
        return $response;
    }

    /**
     * Operation eCommerceCategoryDeleteWithHttpInfo
     *
     * Delete a Category.
     *
     * @param string $provider Store Provider (e.g. Shopify ) (required)
     * @param string $store Store name (required)
     * @param string $id Category ID to delete (required)
     * @return Array of \RevampCRM\Models\EcommerceCategoryResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function eCommerceCategoryDeleteWithHttpInfo($provider, $store, $id)
    {
        // verify the required parameter 'provider' is set
        if ($provider === null) {
            throw new \InvalidArgumentException('Missing the required parameter $provider when calling eCommerceCategoryDelete');
        }
        // verify the required parameter 'store' is set
        if ($store === null) {
            throw new \InvalidArgumentException('Missing the required parameter $store when calling eCommerceCategoryDelete');
        }
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling eCommerceCategoryDelete');
        }
        // parse inputs
        $resourcePath = "/api/1.0/Categories/Delete/{provider}/{store}/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json', 'application/xml', 'text/xml', 'text/html', 'application/xhtml', 'application/xhtml+xml', 'text/csv', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($provider !== null) {
            $resourcePath = str_replace(
                "{" . "provider" . "}",
                $this->apiClient->getSerializer()->toPathValue($provider),
                $resourcePath
            );
        }
        // path params
        if ($store !== null) {
            $resourcePath = str_replace(
                "{" . "store" . "}",
                $this->apiClient->getSerializer()->toPathValue($store),
                $resourcePath
            );
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                '\RevampCRM\Models\EcommerceCategoryResponse',
                '/api/1.0/Categories/Delete/{provider}/{store}/{id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\RevampCRM\Models\EcommerceCategoryResponse', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\RevampCRM\Models\EcommerceCategoryResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation eCommerceCategoryGet
     *
     * Gets a Category info
     *
     * @param string $provider Store Provider (e.g. Shopify ) (required)
     * @param string $store Store name (required)
     * @param string $id Category ID to get (required)
     * @return \RevampCRM\Models\EcommerceCategoryResponse
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function eCommerceCategoryGet($provider, $store, $id)
    {
        list($response) = $this->eCommerceCategoryGetWithHttpInfo($provider, $store, $id);
        return $response;
    }

    /**
     * Operation eCommerceCategoryGetWithHttpInfo
     *
     * Gets a Category info
     *
     * @param string $provider Store Provider (e.g. Shopify ) (required)
     * @param string $store Store name (required)
     * @param string $id Category ID to get (required)
     * @return Array of \RevampCRM\Models\EcommerceCategoryResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function eCommerceCategoryGetWithHttpInfo($provider, $store, $id)
    {
        // verify the required parameter 'provider' is set
        if ($provider === null) {
            throw new \InvalidArgumentException('Missing the required parameter $provider when calling eCommerceCategoryGet');
        }
        // verify the required parameter 'store' is set
        if ($store === null) {
            throw new \InvalidArgumentException('Missing the required parameter $store when calling eCommerceCategoryGet');
        }
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling eCommerceCategoryGet');
        }
        // parse inputs
        $resourcePath = "/api/1.0/Categories/Get/{provider}/{store}/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json', 'application/xml', 'text/xml', 'text/html', 'application/xhtml', 'application/xhtml+xml', 'text/csv', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($provider !== null) {
            $resourcePath = str_replace(
                "{" . "provider" . "}",
                $this->apiClient->getSerializer()->toPathValue($provider),
                $resourcePath
            );
        }
        // path params
        if ($store !== null) {
            $resourcePath = str_replace(
                "{" . "store" . "}",
                $this->apiClient->getSerializer()->toPathValue($store),
                $resourcePath
            );
        }
        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\RevampCRM\Models\EcommerceCategoryResponse',
                '/api/1.0/Categories/Get/{provider}/{store}/{id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\RevampCRM\Models\EcommerceCategoryResponse', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\RevampCRM\Models\EcommerceCategoryResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation eCommerceCategorySave
     *
     * Save list of categorie(s).
     *
     * @param string $provider Store Provider (e.g. Shopify ) (required)
     * @param string $store Store name (required)
     * @param \RevampCRM\Models\ECommerceCategoryApiModel[] $categories List of categories provided in the request body (required)
     * @return \RevampCRM\Models\EcommerceCategoryResponse
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function eCommerceCategorySave($provider, $store, $categories)
    {
        list($response) = $this->eCommerceCategorySaveWithHttpInfo($provider, $store, $categories);
        return $response;
    }

    /**
     * Operation eCommerceCategorySaveWithHttpInfo
     *
     * Save list of categorie(s).
     *
     * @param string $provider Store Provider (e.g. Shopify ) (required)
     * @param string $store Store name (required)
     * @param \RevampCRM\Models\ECommerceCategoryApiModel[] $categories List of categories provided in the request body (required)
     * @return Array of \RevampCRM\Models\EcommerceCategoryResponse, HTTP status code, HTTP response headers (array of strings)
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function eCommerceCategorySaveWithHttpInfo($provider, $store, $categories)
    {
        // verify the required parameter 'provider' is set
        if ($provider === null) {
            throw new \InvalidArgumentException('Missing the required parameter $provider when calling eCommerceCategorySave');
        }
        // verify the required parameter 'store' is set
        if ($store === null) {
            throw new \InvalidArgumentException('Missing the required parameter $store when calling eCommerceCategorySave');
        }
        // verify the required parameter 'categories' is set
        if ($categories === null) {
            throw new \InvalidArgumentException('Missing the required parameter $categories when calling eCommerceCategorySave');
        }
        // parse inputs
        $resourcePath = "/api/1.0/Categories/Save/{provider}/{store}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json', 'application/xml', 'text/xml', 'text/html', 'application/xhtml', 'application/xhtml+xml', 'text/csv', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array('application/json','text/json','application/xml','text/xml','application/x-www-form-urlencoded','text/csv','application/vnd.openxmlformats-officedocument.spreadsheetml.sheet','application/vnd.ms-excel'));

        // path params
        if ($provider !== null) {
            $resourcePath = str_replace(
                "{" . "provider" . "}",
                $this->apiClient->getSerializer()->toPathValue($provider),
                $resourcePath
            );
        }
        // path params
        if ($store !== null) {
            $resourcePath = str_replace(
                "{" . "store" . "}",
                $this->apiClient->getSerializer()->toPathValue($store),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($categories)) {
            $_tempBody = $categories;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\RevampCRM\Models\EcommerceCategoryResponse',
                '/api/1.0/Categories/Save/{provider}/{store}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\RevampCRM\Models\EcommerceCategoryResponse', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\RevampCRM\Models\EcommerceCategoryResponse', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
