<?php
/**
 * NotesApi
 * PHP version 5
 *
 * @category Class
 * @package  RevampCRM\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * RevampCRM Developer API
 *
 * You can use this API to access Account related info and contacts. We currently support Basic Authentication. Using 'Username' and either 'Password' Or 'API Key' as the password
 *
 * OpenAPI spec version: v1
 * Contact: crm@revampco.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace RevampCRM\API;

use \RevampCRM\Client\Configuration;
use \RevampCRM\Client\ApiClient;
use \RevampCRM\Client\ApiException;
use \RevampCRM\Client\ObjectSerializer;

/**
 * NotesApi Class Doc Comment
 *
 * @category Class
 * @package  RevampCRM\Client
 * @author   http://github.com/swagger-api/swagger-codegen
 * @license  http://www.apache.org/licenses/LICENSE-2.0 Apache Licene v2
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class NotesApi
{

    /**
     * API Client
     *
     * @var \RevampCRM\Client\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \RevampCRM\Client\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\RevampCRM\Client\ApiClient $apiClient = null)
    {
        if ($apiClient == null) {
            $apiClient = new ApiClient();
            $apiClient->getConfig()->setHost('https://app.revampcrm.com:443');
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \RevampCRM\Client\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \RevampCRM\Client\ApiClient $apiClient set the API client
     *
     * @return NotesApi
     */
    public function setApiClient(\RevampCRM\Client\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation notesGetNote
     *
     * 
     *
     * @param string $id  (required)
     * @return \RevampCRM\Models\Note
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function notesGetNote($id)
    {
        list($response) = $this->notesGetNoteWithHttpInfo($id);
        return $response;
    }

    /**
     * Operation notesGetNoteWithHttpInfo
     *
     * 
     *
     * @param string $id  (required)
     * @return Array of \RevampCRM\Models\Note, HTTP status code, HTTP response headers (array of strings)
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function notesGetNoteWithHttpInfo($id)
    {
        // verify the required parameter 'id' is set
        if ($id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $id when calling notesGetNote');
        }
        // parse inputs
        $resourcePath = "/api/1.0/Notes/getNote/{id}";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json', 'application/xml', 'text/xml', 'text/html', 'application/xhtml', 'application/xhtml+xml', 'text/csv', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($id !== null) {
            $resourcePath = str_replace(
                "{" . "id" . "}",
                $this->apiClient->getSerializer()->toPathValue($id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\RevampCRM\Models\Note',
                '/api/1.0/Notes/getNote/{id}'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\RevampCRM\Models\Note', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\RevampCRM\Models\Note', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation notesPostNote
     *
     * Add a new Note
     *
     * @param string $entity_type Either \&quot;Contact\&quot; Or \&quot;Deal\&quot; (required)
     * @param string $entity_id Contact or Deal Id (required)
     * @return \RevampCRM\Models\ImportResultViewModel
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function notesPostNote($entity_type, $entity_id)
    {
        list($response) = $this->notesPostNoteWithHttpInfo($entity_type, $entity_id);
        return $response;
    }

    /**
     * Operation notesPostNoteWithHttpInfo
     *
     * Add a new Note
     *
     * @param string $entity_type Either \&quot;Contact\&quot; Or \&quot;Deal\&quot; (required)
     * @param string $entity_id Contact or Deal Id (required)
     * @return Array of \RevampCRM\Models\ImportResultViewModel, HTTP status code, HTTP response headers (array of strings)
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function notesPostNoteWithHttpInfo($entity_type, $entity_id)
    {
        // verify the required parameter 'entity_type' is set
        if ($entity_type === null) {
            throw new \InvalidArgumentException('Missing the required parameter $entity_type when calling notesPostNote');
        }
        // verify the required parameter 'entity_id' is set
        if ($entity_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $entity_id when calling notesPostNote');
        }
        // parse inputs
        $resourcePath = "/api/1.0/Notes/{entityType}/{entityId}/Add";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json', 'application/xml', 'text/xml', 'text/html', 'application/xhtml', 'application/xhtml+xml', 'text/csv', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($entity_type !== null) {
            $resourcePath = str_replace(
                "{" . "entityType" . "}",
                $this->apiClient->getSerializer()->toPathValue($entity_type),
                $resourcePath
            );
        }
        // path params
        if ($entity_id !== null) {
            $resourcePath = str_replace(
                "{" . "entityId" . "}",
                $this->apiClient->getSerializer()->toPathValue($entity_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'HEAD',
                $queryParams,
                $httpBody,
                $headerParams,
                '\RevampCRM\Models\ImportResultViewModel',
                '/api/1.0/Notes/{entityType}/{entityId}/Add'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\RevampCRM\Models\ImportResultViewModel', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\RevampCRM\Models\ImportResultViewModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation notesPostNote_0
     *
     * Add a new Note
     *
     * @param string $entity_type Either \&quot;Contact\&quot; Or \&quot;Deal\&quot; (required)
     * @param string $entity_id Contact or Deal Id (required)
     * @return \RevampCRM\Models\ImportResultViewModel
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function notesPostNote_0($entity_type, $entity_id)
    {
        list($response) = $this->notesPostNote_0WithHttpInfo($entity_type, $entity_id);
        return $response;
    }

    /**
     * Operation notesPostNote_0WithHttpInfo
     *
     * Add a new Note
     *
     * @param string $entity_type Either \&quot;Contact\&quot; Or \&quot;Deal\&quot; (required)
     * @param string $entity_id Contact or Deal Id (required)
     * @return Array of \RevampCRM\Models\ImportResultViewModel, HTTP status code, HTTP response headers (array of strings)
     * @throws \RevampCRM\Client\ApiException on non-2xx response
     */
    public function notesPostNote_0WithHttpInfo($entity_type, $entity_id)
    {
        // verify the required parameter 'entity_type' is set
        if ($entity_type === null) {
            throw new \InvalidArgumentException('Missing the required parameter $entity_type when calling notesPostNote_0');
        }
        // verify the required parameter 'entity_id' is set
        if ($entity_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $entity_id when calling notesPostNote_0');
        }
        // parse inputs
        $resourcePath = "/api/1.0/Notes/{entityType}/{entityId}/Add";
        $httpBody = '';
        $queryParams = array();
        $headerParams = array();
        $formParams = array();
        $_header_accept = $this->apiClient->selectHeaderAccept(array('application/json', 'text/json', 'application/xml', 'text/xml', 'text/html', 'application/xhtml', 'application/xhtml+xml', 'text/csv', 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet', 'application/vnd.ms-excel'));
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(array());

        // path params
        if ($entity_type !== null) {
            $resourcePath = str_replace(
                "{" . "entityType" . "}",
                $this->apiClient->getSerializer()->toPathValue($entity_type),
                $resourcePath
            );
        }
        // path params
        if ($entity_id !== null) {
            $resourcePath = str_replace(
                "{" . "entityId" . "}",
                $this->apiClient->getSerializer()->toPathValue($entity_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\RevampCRM\Models\ImportResultViewModel',
                '/api/1.0/Notes/{entityType}/{entityId}/Add'
            );

            return array($this->apiClient->getSerializer()->deserialize($response, '\RevampCRM\Models\ImportResultViewModel', $httpHeader), $statusCode, $httpHeader);
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\RevampCRM\Models\ImportResultViewModel', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

}
